<% if user_signed_in? && current_user.accounts.empty? %>
  <p><h1>Начинаем!<h1></p>
      <p>
        <h3>Спасибо за интерес к нашему сервису. Если у вас будут возникать вопросы, то вы можете обратиться к разделу "Помощь" или написать в тех. поддержку.</h3>
      </p>
      <p> <h3>Для продолжения работы вам необходимо иметь хотя бы один кошелек. Создайте же его скорей!</h3></p>
<%= new_account_link %>
    <% end %>
