<p id="notice"><%= notice %></p>
<<<<<<< HEAD

<%= render :partial=>"/transactions/form"%>
=======
<h3>Применить правило "<%= @rule.title %>"</h3>
<%= render :partial=>"apply"%>
>>>>>>> deployonheroku
